<!DOCTYPE html>
<html>

<head>
  <title>Harmonia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <h1 id="header_title">Harmonia - Your High-Tech Music Library</h1>
  <% if current_user.nil? %>
    <a href ="<%= new_user_url %>"> <button> New User </button> </a>
    <a href ="<%= new_session_url %>"><button> Log In </button> </a>
  <% else %>
  <h3>Logged in as: <%= current_user.username %></h3>
  <form class="" action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Log Out">
      </form>
  <% end %>

</header>


  <body>
<% if flash[:errors]%>
<ul>
<%  flash[:errors].each do |err| %>
<li><%= err %></li>
<% end %>
</ul>
<% end %>

    <%= yield %>
  </body>
</html>
